{% extends 'base.html' %}
{% load static %}
{% block title %}Создать игру{% endblock %}

{% block content %}
<div class="container form-container">
    <h2>Создать игру</h2>
    <form method="post" class="game-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="nickname">Ваш никнейм:</label>
            <input type="text" name="nickname" id="nickname" value="{{ nickname }}" required>
        </div>
        <button type="submit">Создать игру</button>
    </form>
</div>
{% endblock %}