{% extends 'base.html' %}
{% load static %}

{% block title %}Ожидание игроков{% endblock %}

{% block content %}
    <div class="waiting-container">
        <div class="overlay"></div>

        <div class="content">
            <h1 class="title">OЖИДАНИЕ ИГРOКOВ</h1>

            <div class="players-list" style="border: none; background-color: transparent;">
                {% for player in players %}
                    <div class="player-card">
                        {% if player %}
                            {{ player }}
                        {% else %}
                            Ожидание...
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="qr-container">
                <img src="{% static qr_code_url %}" alt="QR-код для подключения">
            </div>

            <div class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
{% endblock %}