{% extends 'base.html' %}
{% load static %}

{% block title %}Страница показа ответов игроков{% endblock %}

{% block styles %}
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body, html { height: 100%; }

    .grid {
      display: grid;
      width: 100%;
      height: 100vh;
      grid-template-columns: 270px 1fr 270px;
      grid-template-rows: 100px auto 100px;
      grid-template-areas:
        "lt   center  rt"
        "lm   center  rm"
        "lb   center  rb";
    }

    .lt {
        font-size: 30px;
        font-weight: bold;
        color: #b4fc64;
        grid-area: lt;
    }
    
    .lm {
        padding: 10px;
        font-size: 30px;
        color: #b4fc64;
        grid-area: lm;
    }

    .lb {
        font-size: 40px;
        color: #b4fc64;
        grid-area: lb;
    }

    .rt {
        font-size: 30px;
        font-weight: bold;
        color: #b4fc64;
        grid-area: rt;
    }

    .rm {
        padding: 10px;
        font-size: 30px;
        color: #b4fc64;
        grid-area: rm;
    }

    .rb {
        font-size: 40px;
        color: #b4fc64;
        grid-area: rb;
    }

    .center {
        padding: 50px;
        font-size: 30px;
        color: #ffffff;
        grid-area: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'images/background.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-shadow: 1px 1px 3px black;
        font-family: 'Pixelify Sans', sans-serif;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .cell {
      border: 3px solid #333;
      background: #202020;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: #b4fc64;
      font-family: 'Pixelify Sans', sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<div class="grid">
    <div class="cell lt">
        {% if players.0 %}
            {{ players.0 }}
        {% else %}
            Игрок1
        {% endif %}
    </div>

    <div class="cell lm">
        {% if players.0 %}
            Ответ игрока 1
        {% else %}
            Фу, тут мусором воняет!
        {% endif %}
    </div>

    <div class="cell lb">
        #1
    </div>

    <div class="center">
        Фраза, которую не стоит говорить, сидя в полицейской буханке_______
    </div>

    <div class="cell rt">
        {% if players.1 %}
            {{ players.1 }}
        {% else %}
            Игрок2
        {% endif %}
    </div>

    <div class="cell rm">
        {% if players.1 %}
            Ответ игрока 2
        {% else %}
            Мужики, а пописать можно выйти?
        {% endif %}
    </div>

    <div class="cell rb">
        #2
    </div>
</div>
{% endblock %}