{% extends 'base.html' %}
{% load static %}

{% block title %}Результаты игры{% endblock %}


{% block content %}
<div class="winning-container">
    <div class="overlay"></div>
    
    <div class="content" style="display: block; text-align: center;">
        <h1 class="title">YOU WIN!</h1>
        
        <div class="winner">
            <div class="winner-name">
                {% if players.0 %}
                    {{ players.0.name|default:players.0 }}
                {% else %}
                    Игрок 1
                {% endif %}
            </div>
            <div class="winner-score">
                {% if players.0 %}
                    {{ players.0.score|default:"13183" }}
                {% else %}
                    13183
                {% endif %}
            </div>
        </div>
        
        <div class="players-list">
            {% for player, position in players|slice:"1:"|add:"[None, None, None, None, None, None, None, None, None, None, None]"|slice:":11" %}
                <div class="player-item">
                    <span class="player-position">{{ forloop.counter|add:1 }}.</span>
                    <span class="player-name{% if not player %} empty-slot{% endif %}">
                        {% if player %}
                            {{ player.name|default:player }}
                        {% else %}
                            -
                        {% endif %}
                    </span>
                    <span class="player-score{% if not player %} empty-slot{% endif %}">
                        {% if player %}
                            {{ player.score|default:"0" }}
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
        
        <button class="button" onclick="document.location.replace('/game/')">ВЕРНУТЬСЯ В ЛOББИ</button>
    </div>
</div>
{% endblock %}